<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/header' %>
    <% if logged_in? %>
      <%= render 'layouts/sidebar' %>
    <% end %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
    <script>
      $("#menu-close").click(function (e) {
        e.preventDefault(),
        $("#sidebar-wrapper").toggleClass("active")
        $("#menu-toggle").css("visibility", "visible");
      }),
      $("#menu-toggle").click(function (e) {
        e.preventDefault(),
        $("#sidebar-wrapper").toggleClass("active")
        $(this).css("visibility", "hidden");
      });
    </script>
  </body>
</html>
